PORT=3000
NODE_ENV=development

# Configuración PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_NAME=farmacia_db

# Seguridad JWT
JWT_SECRET=super_secret_jwt_key_farmacia_2026
JWT_EXPIRES_IN=8h
